.BadgeNew__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;

    display: flex;
    justify-content: center;
}

.BadgeNew__hero-image {
    max-height: 100px;
}

.row-details {
    padding-bottom: 15px;
}

@media screen and (max-width: 770px) {
    .row-details {
        display: block;
    }

    .container__buttons {
        display: flex;
    }
    .col-form {
        margin-top: 40px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-badge {
        flex: 0 0 100%;
        max-width: 100%;
    }
}