.BadgesList {
    display: flex;
    flex-direction: column;
}

.BadgesList ul>li {
    margin-bottom: 1rem;
}

.BadgesListItem {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    display: flex;
    padding: 1rem;
}

.BadgesListItem__avatar {
    border-radius: 50%;
    background: #a3a3a3;
    margin-right: 0.5rem;
    width: 80px;
    height: 80px;
}

.twitter_logo {
    width: 20px;
    margin-right: 0.2rem;
}

.twitter_user {
    color: rgb(51, 182, 199);
}
.form-group {
    width: 70%;
    align-self: center;
}
.list-unstyled {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-gap: 10px;
    justify-content: center;
}

@media screen and (max-width: 550px) {
    .list-unstyled {
        display: block;
    }
}